---
- name: Dump engine database
  shell: "pg_dump engine > {{ ovirt_collect_logs_tmp_dir }}/engine_db.sql" # noqa 301
  become: true
  become_method: su
  become_user: postgres
  ignore_errors: true
