---

- name: Prepare directory structure
  file:
    path: "{{ ovirt_collect_logs_tmp_dir }}/{{ item }}"
    state: directory
  with_items:
    - "etc"
    - "httpd"

- name: ovirt-requests-logs files
  shell: ls /var/log/httpd/ovirt-requests-log* # noqa 301
  register: ovirt_requests_logs
  ignore_errors: yes

- name: Link ovirt-engine logs
  file:
    src: "{{ item.src }}"
    dest: "{{ ovirt_collect_logs_tmp_dir }}/{{ item.dest }}"
    state: link
  with_items:
    -
      src: "/var/log/ovirt-engine"
      dest: "ovirt-engine-logs"
    -
      src: "/var/lib/ovirt-engine"
      dest: "ovirt-engine-data"
    -
      src: "/etc/ovirt-engine"
      dest: "etc/ovirt-engine"
    -
      src: "/etc/ovirt-engine-setup.conf.d"
      dest: "etc/ovirt-engine-setup.conf.d"
    -
      src: "/etc/ovirt-host-deploy.conf.d"
      dest: "etc/ovirt-host-deploy.conf.d"
    -
      src: "/etc/ovirt-vmconsole"
      dest: "etc/ovirt-vmconsole"
    -
      src: "/var/log/ovirt-provider-ovn.log"
      dest: "ovirt-provider-ovn.log"
    -
      src: "/var/log/ovirt-imageio-proxy"
      dest: "ovirt-imageio-proxy"
    -
      src: "/var/log/ovirt-imageio"
      dest: "ovirt-imageio-logs"
    -
      src: "/var/log/ovirt-guest-agent/ovirt-guest-agent.log"
      dest: "ovirt-guest-agent.log"
    -
      src: "/var/log/openvswitch/ovsdb-server-nb.log"
      dest: "ovsdb-server-nb.log"

    - src: "/var/log/ovn"
      dest: "ovn-logs"

    - src: "/var/log/openvswitch"
      dest: "ovs-logs"

  ignore_errors: true

- name: Link ovirt-requests logs
  file:
    src: "{{ item }}"
    dest: "{{ ovirt_collect_logs_tmp_dir }}/httpd/{{ item|replace('/var/log/httpd/', '') }}"
    state: link
  with_items: "{{ ovirt_requests_logs.stdout_lines }}"
  ignore_errors: true
