[environment:default]
OVESETUP_CORE/remove=bool:True
OVESETUP_CONFIG/remoteEngineSetupStyle=none:None
OVESETUP_CONFIG/sanWipeAfterDelete=bool:False
OVESETUP_CONFIG/firewallManager=str:firewalld
OVESETUP_CONFIG/remoteEngineHostRootPassword=none:None
OVESETUP_CONFIG/remoteEngineHostSshPort=none:None
OVESETUP_CONFIG/fqdn=str:{{ ansible_fqdn }}
OVESETUP_REMOVE/confirmUninstallGroups=bool:True
OVESETUP_REMOVE/removeOptions=multi-str:ovirt-imageio-proxy,ovirt-engine-websocket-proxy
OVESETUP_REMOVE/enabledFileGroups=str:,core,ca_config,iso_images,ovirt_dwh_files,vmconsole_proxy_helper_pki,iso_domain,ca_pki,vmconsole_proxy_pki,exportfs,versionlock,ssl,nfs_config
OVESETUP_REMOVE/removeAll=bool:True
OVESETUP_REMOVE/removeChanged=none:None
OVESETUP_DB/secured=bool:False
OVESETUP_DB/host=str:{{ ovirt_engine_db_host }}
OVESETUP_DB/user=str:{{ ovirt_engine_db_user }}
OVESETUP_DB/password=str:{{ ovirt_engine_db_password }}
OVESETUP_DB/dumper=str:pg_custom
OVESETUP_DB/database=str:{{ ovirt_engine_db_name }}
OVESETUP_DB/port=str:{{ ovirt_engine_db_port }}
OVESETUP_DB/filter=none:None
OVESETUP_DB/restoreJobs=int:2
OVESETUP_DB/securedHostValidation=bool:False
OVESETUP_DWH_DB/secured=bool:False
OVESETUP_DWH_DB/host=str:{{ ovirt_engine_dwh_db_host }}
OVESETUP_DWH_DB/user=str:{{ ovirt_engine_dwh_db_user }}
OVESETUP_DWH_DB/password=str:{{ ovirt_engine_db_password }}
OVESETUP_DWH_DB/dumper=str:pg_custom
OVESETUP_DWH_DB/database=str:{{ ovirt_engine_dwh_db_name }}
OVESETUP_DWH_DB/port=int:{{ ovirt_engine_dwh_db_port }}
OVESETUP_DWH_DB/filter=none:None
OVESETUP_DWH_DB/restoreJobs=int:2
OVESETUP_DWH_DB/securedHostValidation=bool:False
OVESETUP_ENGINE_CORE/enable=bool:False
OVESETUP_CORE/engineStop=bool:True
OVESETUP_CONFIG/engineDbBackupDir=str:/var/lib/ovirt-engine/backups
OVESETUP_REMOVE/engineDatabase=bool:True
OVESETUP_REMOVE/removeEngine=bool:True
OVESETUP_DWH_CORE/enable=bool:True
OVESETUP_DWH_CONFIG/scale=str:1
OVESETUP_DWH_CONFIG/dwhDbBackupDir=str:/var/lib/ovirt-engine-dwh/backups
OVESETUP_DWH_REMOVE/database=bool:True
OVESETUP_ENGINE_CONFIG/fqdn=str:{{ ansible_fqdn }}
OVESETUP_CONFIG/imageioProxyConfig=bool:True
OVESETUP_REMOVE/removeOip=bool:True
OVESETUP_VMCONSOLE_PROXY_CONFIG/vmconsoleProxyConfig=bool:True
OVESETUP_CONFIG/websocketProxyConfig=bool:True
OVESETUP_REMOVE/removeWsp=bool:True
