# action=setup
[environment:default]
OVESETUP_DIALOG/confirmSettings=bool:True
OVESETUP_CONFIG/remoteEngineSetupStyle=str:auto_ssh
OVESETUP_CONFIG/remoteEngineHostRootPassword=str:{{ovirt_engine_host_root_passwd}}
OVESETUP_CONFIG/firewallChangesReview=none:None
{% if ovirt_engine_firewall_manager %}
OVESETUP_CONFIG/updateFirewall=bool:True
OVESETUP_CONFIG/firewallManager=str:{{ovirt_engine_firewall_manager}}
{% else %}
OVESETUP_CONFIG/updateFirewall=bool:False
OVESETUP_CONFIG/firewallManager=none:None
{% endif %}
OVESETUP_CONFIG/remoteEngineHostSshPort=int:{{ovirt_engine_ssh_port}}
OVESETUP_CONFIG/fqdn=str:{{ansible_fqdn}}
OSETUP_RPMDISTRO/requireRollback=none:None
OSETUP_RPMDISTRO/enableUpgrade=none:None
OVESETUP_APACHE/configureSsl=none:None
OVESETUP_DB/secured=bool:False
OVESETUP_DB/user=str:{{ovirt_engine_db_user}}
OVESETUP_DB/password=str:{{ovirt_engine_db_password}}
OVESETUP_DB/database=str:{{ovirt_engine_db_name}}
OVESETUP_DB/host=str:{{ovirt_engine_db_host}}
OVESETUP_DB/port=str:{{ovirt_engine_db_port}}
OVESETUP_DB/securedHostValidation=bool:False
OVESETUP_ENGINE_CORE/enable=none:None
OVESETUP_DWH_CORE/enable=bool:True
OVESETUP_DWH_CONFIG/scale=str:2
OVESETUP_DWH_CONFIG/dwhDbBackupDir=str:/var/lib/ovirt-engine-dwh/backups
OVESETUP_DWH_DB/secured=bool:False
OVESETUP_DWH_DB/restoreBackupLate=bool:True
OVESETUP_DWH_DB/disconnectExistingDwh=none:None
OVESETUP_DWH_DB/host=str:{{ovirt_engine_dwh_db_host}}
OVESETUP_DWH_DB/user=str:{{ovirt_engine_dwh_db_user}}
OVESETUP_DWH_DB/dumper=str:pg_custom
OVESETUP_DWH_DB/database=str:{{ovirt_engine_dwh_db_name}}
OVESETUP_DWH_DB/performBackup=none:None
OVESETUP_DWH_DB/port=int:{{ovirt_engine_dwh_db_port}}
OVESETUP_DWH_DB/filter=none:None
OVESETUP_DWH_DB/restoreJobs=int:2
OVESETUP_DWH_DB/securedHostValidation=bool:False
OVESETUP_DWH_PROVISIONING/postgresProvisioningEnabled=bool:True
OVESETUP_ENGINE_CONFIG/fqdn=str:{{ovirt_engine_host_fqdn}}
